<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Manage Users</title>
</head>
<body>
<div class="container-fluid">
    <div class="card mt-5">
        <div class="card-head bg-primary">
            <h4 class="text-center text-light py-3">Create User</h4>
        </div>
        <div class="card-body">
            <div class="col-12 text-right">
                <a class="btn btn-primary" href="/manageUsers">Manage Users</a>
            </div>
            <div class="col-12 mt-2">
                <h3 class="text-center text-danger">Create User</h3>
                <form method="post" action="/createUser">
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label>First Name</label>
                            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter First Name" required>
                        </div>
                        <div class="form-group col-6">
                            <label>Last Name</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter Last Name"  required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label>Email Id</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="Enter Email Id" required>
                        </div>
                        <div class="form-group col-6">
                            <label>Contact Number</label>
                            <input type="text" class="form-control" id="contact" name="contact" placeholder="Enter Contact Number"  required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="departmentId">Select Department</label>
                            <select name="departmentId" id="departmentId" class="form-control">
                                <option value="" selected disabled>---Select Department---</option>
                                <%for(var dept of departments){%>
                                    <option value="<%-dept._id%>"><%-dept.departmentName%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <input type="submit" class="btn btn-primary mx-auto" value="Create User">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>